<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/assets/**" security="none" />
	<http pattern="/rest/**" security="none" />
	<http pattern="/apps/**" security="none" />
	<http pattern="/view/**" security="none" />
	<http pattern="/utils/**" security="none" />
	<http pattern="/index" security="none" />
	<http pattern="/register" security="none" />

	<http pattern="/provider/**" auto-config="true" use-expressions="true"
		authentication-manager-ref="authenticationManager">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/login/*" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		<intercept-url pattern="/**" access="hasRole('PROVIDER')" />

		<access-denied-handler error-page="/errors/403" />
		<form-login login-page="/login" login-processing-url="/provider/j_spring_security_check"
			username-parameter="username" password-parameter="password"
			authentication-failure-url="/login?error" default-target-url="/provider/proinfo/info" />

		<logout logout-url="/provider/j_spring_security_logout"
			logout-success-url="/login?logout" />

		<remember-me key="dfyy2b2" token-validity-seconds="86400"
			user-service-ref="b2bUserDetailsService" />
	</http>

	<http pattern="/manager/**" auto-config="true" use-expressions="true"
		authentication-manager-ref="mauthenticationManager">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/mlogin/*" access="permitAll" />
		<intercept-url pattern="/mlogout" access="permitAll" />
		<intercept-url pattern="/test" access="permitAll" />
		<intercept-url pattern="/**" access="hasRole('ADMIN')" />

		<access-denied-handler error-page="/errors/403" />
		<form-login login-page="/mlogin" login-processing-url="/manager/j_spring_security_check"
			username-parameter="username" password-parameter="password"
			authentication-failure-url="/mlogin?error" default-target-url="/manager/users/formal" />

		<logout logout-url="/manager/j_spring_security_logout"
			logout-success-url="/mlogin?logout" />

		<remember-me key="dfyy2b2admin" token-validity-seconds="86400"
			user-service-ref="adminDetailsService" />
	</http>

	<authentication-manager id="mauthenticationManager">
		<authentication-provider ref="adminAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="adminAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="adminDetailsService" />
		<beans:property name="hideUserNotFoundExceptions"
			value="false" />
	</beans:bean>

	<authentication-manager id="authenticationManager">
		<authentication-provider ref="b2bAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="b2bAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="b2bUserDetailsService" />
		<beans:property name="hideUserNotFoundExceptions"
			value="false" />
	</beans:bean>

	<beans:bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basename" value="classpath:messages_zh_CN" />
	</beans:bean>
</beans:beans>